<%= render 'layouts/header' %>

		<div class="content">

		<!--	<div class="profile">
				Welcome!
				<img src=""/>
				name <br/>
				email <br/>
				write someting about yourself... <br/>
				<button type="button">Edit</button>
			</div> -->

			<div class="top">
				Welcome <%= @user.name %>! </br></br>
				Manage your tasks...
			</div>

			<div class="labels">
			<table class="center">
				<tr><th>Name</th> <th>Category</th></tr>

				<%= render @user.tasks %>
				<%= render 'tasks/form' %>

			</table>
			</div>

		</div>

	<%= render 'layouts/footer' %>

